{% extends 'layout-blank.html' %}
{% block title %}
  {{ form.title }}
{% endblock %}
{% block content %}
  {{form.content}}
  <br>
  <div class="flex flex-row justify-content-center align-items-center">
    <form action="{% url 'permission_denied' %}" method='post'>
      {% csrf_token %}
      <button class="btn btn-primary">Go Back</button>
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% endif %}
    </form>
    <a class="btn btn-primary mt-2" href="{% url 'User:login' %}?next={{ request.GET.next }}">Go to login</a>
  </div>

{% endblock %}
