{% extends 'layout-blank.html' %}
{% block title %}
  {{ form.title }}
{% endblock %}
{% block content %}
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" class="form-control" required value="{{form.data.name}}" autofocus disabled><br>
    <label for="gender">Gender:</label><br>
    <select id="gender" name="gender" class="form-control" required value="{{form.data.gender}}" disabled>
      <option selected value="">------</option>
      {% for choice in form.gender %} 
        {% if form.data.gender == choice.0 %}
          <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
        {% else %}
          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endif %}
      {% endfor %}
    </select><br>
    <label for="date_birth">Date Birth:</label><br>
    <input type="date" id="date_birth" name="date_birth" class="form-control" required value="{{form.data.date_birth|date:'Y-m-d'}}" disabled><br>
    <label for="number_phone">Phone Number:</label><br>
    <input type="text" id="number_phone" name="number_phone" class="form-control" required value="{{form.data.number_phone}}" disabled><br>
    <label for="address">Address:</label><br>
    <textarea type="text" id="address" name="address" row ="3"class="form-control" required disabled>{{form.data.address}}</textarea><br>
    <label for="distance">Distance (km):</label><br>
    <input type="text" pattern="[0-9]*" title="Harus digit angka" id="distance" name="distance" class="form-control" required value="{{form.data.distance}}"disabled autofocus><br>
    <label for="class">Class:</label><br>
    <select id="class" name="id_class" class="form-control" required disabled >
      <option selected value="">------</option>
 
      {% for choice in form.class %} 
        {% if form.data.id_class.id == choice.id %}
          <option value="{{ choice.id }}" selected>{{ choice.name }}</option>
        {% else %}
          <option value="{{ choice.id }}">{{ choice.name }}</option>
        {% endif %}
      {% endfor %}
    </select><br>
    <p>Created at {{ form.data.date_created }}</p>
    <p>Last modify at {{ form.data.date_updated }}</p>
    <p>last modify by <b>{{ form.data.author }}</b> </p>
       
{% endblock %}
