{% extends 'layout-blank.html' %}
{% block title %}
  {{ form.title }}
{% endblock %}
{% block content %}
  <form action="{% url 'Class:create' %}" method="post">
    {% csrf_token %}
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" class="form-control" required><br>

    <label for="fees">Fees:</label><br>
    <input type="text" pattern="[0-9]*" title="Harus digit angka" id="fees" name="fees" class="form-control" required autofocus><br>
    <label for="teacher">Teacher:</label><br>
    <select id="teacher" name="id_teacher" class="form-control" required>
      <option selected value="">------</option>
      {% for choice in form.teacher %}
          <option value="{{ choice.id }}">{{choice.id}}--{{ choice.name }}</option>
      {% endfor %}
    </select><br>
    
    <button class="btn btn-primary mb-3">submit</button>
  </form>
{% endblock %}
